<div class="container">

    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h1>DSS Tracker</h1>

        <p>The purpose of the DSS Tracker is to provide DSS team members and management, who require a trial tracking solution, an application that allows users to easily view and modify ongoing DSS operational trial information.</p>

        <p>
            <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">Details &raquo;</a>
        </p>
    </div>

</div> <!-- /container -->
